/* TODO: Use Bootstrap? */

/* Base structure
---------------------------------------- */

html {
    height: 100%;
    font-size: 100%;
    /* Force a scrollbar in non-IE */
    overflow-y: scroll;
    /* Prevent iOS text size adjust on orientation change */
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

body {
    max-width: 40em;
    margin: 0 auto;
    padding: 1.5em;
    font-family: 'Source Sans Pro', Tahoma, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #555;
}

/* Add and/or remove tags as your baseline grid needs */
p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table,
fieldset, menu, figure, figcaption, button, hr {
    margin: 0 0 1.5em;
}

/*
p, li {
    text-align: justify;
}
*/

/* Headings/small
---------------------------------------- */

/*
    * Font sizes are based on the major third of 16
    * See this for the modular scale: ow.ly/5jGl6
    * Line-heights and margins are adjusted to keep a 24px (1.5em) vertical
    * rhythm across elements
*/


h1, h2, h3, h4, h5, h6,
strong {
    color: #111;
}

h1 {
    font-weight: normal;
    font-size: 1.5em; /* 24px */
    line-height: 1;
    margin: 0;
}

h2 {
    font-weight: normal;
    font-size: 1.5em; /* 24px */
    line-height: 1;
    margin: 2em 0 1em;
    border-bottom: 1px solid #555;
}

#summary h2 {
    display: none;
}

h3 {
    font-weight: normal;
    font-size: 1.2em; /* 20px */
    line-height: 1.2;
    margin: 1.2em 0 0;
    padding-top: 1.2em;
    border-top: 1px dotted #AAA;
}

h2 + section h3 {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

h4 {
    font-size: 1em; /* 16px */
    margin: 1.5em 0 0;
}

small {
    font-size: 0.75em; /* 12px */
    line-height: 1.857142857;
    margin: 0 0 1.857142857em;
}

/* Lists
---------------------------------------- */

ul {
    padding-left: 1.25em;
    margin-left: 0;
}

/* Links
---------------------------------------- */

a {
    text-decoration: none;
    color: #CC7E00;
}

a:visited {
    color: #7F4F00;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
}

/* Better CSS outline suppression:
 * people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
    outline: none;
}


/* Media queries
---------------------------------------- */

@media only screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 480px) {
    h1 + p + p {
        text-align: right;
        margin-top: -6em;
    }

    h4 + p {
        text-align: right;
        margin-top: -1.5em;
    }
}

/* TODO: Columns on wide screens and print */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    html {
        font-size: 10pt;
    }

    body {
        font-family: Tahoma, sans-serif;
        max-width: none;
        padding: none;
    }

    /* TODO: Ignored by WebKit
    @page {
        margin: 0.5cm;
    }
    */

    a {
        text-decoration: underline;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    h1 + p + p {
        text-align: right;
        margin-top: -6em;
    }

    h4 + p {
        text-align: right;
        margin-top: -1.5em;
    }

    /* TODO: Footnote links */
}

