include mixins.pug

- const name = 'Brian H. Rutledge'
+header(name)
  header.header
    h1.name= name
    h2.title Software Engineer
    h3.city Arlington, MA
    .contact
      +phone('617-955-7782')
      +email('brian@bhrutledge.com')
      +url('https://github.com/bhrutledge')

  +section('Professional Experience')

    +organization('EnergySage, Inc.', 'Boston, MA')
      p The world&rsquo;s first and largest online marketplace for solar panel installation

      +role('Full Stack Web Developer', '2014', 'Present')

    +organization('Freelance')

      +role('Full Stack Web Developer', '2006', 'Present')

    +organization('Belmont Wheelworks', 'Belmont, MA')
      p Bicycle sales and service, catering to all levels of cyclists in greater Boston

      +role('IT Operations Manager, Bicycle Fitter, Buyer, Salesperson', '2006', '2014')

    +organization('Darwin&rsquo;s Ltd.', 'Cambridge, MA')
      p Independent coffee and sandwich shop serving Harvard Square

      +role('Buyer, Sandwich Maker, Barista', '2005', '2006')

    +organization('Applied Innovation Inc.', 'Dublin, OH')
      p Network management hardware and software for the telecommunications industry

      +role('Software Engineer', '2001', '2005')

    +organization('The Ohio State University', 'Columbus, OH')

      +role('System Operations Staff, Lab Consultant, Grader', '1999', '2002')

  +section('Education')

    +organization('The Ohio State University', 'Columbus, OH')

      +role('Bachelor of Science, Computer &amp; Information Science', '2002')
        li Graduated Cum Laude with Honors in the Liberal Arts, 3.640 GPA
