include mixins.pug

- const name = 'Brian H. Rutledge'
+body(name)
  header.header
    h1.name= name
    h2.title Software Engineer
    .city Arlington, MA
    .contact
      +phone('617-955-7782')
      +email('brian@bhrutledge.com')
      +url('https://github.com/bhrutledge')
    
  +section('Key Skills &amp; Technologies')
    p Adapting, Analyzing, Assimilating, Coding, Communicating, Debugging, Documenting, Editing, Explaining, Programming, Researching, Teaching, Testing, Troubleshooting. #[strong Software Development:] Python, JavaScript, SQL, Git, Linux/Unix, Data Engineering, Test-Driven Development. #[strong Web Development:] Django, Flask, REST, Vue, jQuery, Webpack, D3, Charts, Maps, SASS, Bootstrap, Selenium, Responsive Design, Typography.

  +section('Professional Experience')

    +organization('EnergySage, Inc.', 'Boston, MA', 'The world&rsquo;s first and largest online marketplace for solar panel installation')

      +role('Software Engineer, Full-Stack Web Developer, Data Engineer, IT Support', '2014', 'Present')
        ul
          li Python, Django, Jupyter, Pandas, JavaScript, Vue, Webpack, Backbone, jQuery, D3, HTML, SASS, CSS, BEM, Bootstrap, MySQL, Celery, Git, AWS, Google Cloud

    +organization('Freelance')

      +role('Full Stack Web Developer', '2006', 'Present')
        ul
          li Designed and developed the CMS and front-end for my band&rsquo;s website, an application for a small retailer to analyze sales reports, and brochure websites for friends and family
          li Python, Django, Flask, jQuery, PHP, SQLite, HTML, CSS, Git, Apache, Linux

    +organization('Belmont Wheelworks', 'Belmont, MA', 'Bicycle sales and service, catering to all levels of cyclists in greater Boston')

      +role('IT Operations Manager, Bicycle Fitter, Buyer, Salesperson', '2006', '2014')
        ul
          li Configured the business website CMS, developed a front-end theme, and developed scripts to synchronize inventory
          li Developed reporting scripts to streamline customer relationship and inventory management
          li Python, SQL, jQuery, CSS

    +organization('Applied Innovation Inc.', 'Dublin, OH', 'Network management hardware and software for the telecommunications industry')

      +role('Software Engineer', '2001', '2005')
        ul
          li Assumed sole development responsibility for a troubled network device, turning it into a major source of income
          li Assembly, C, C++, Java, Python, Perforce

  +section('Education')

    +organization('The Ohio State University', 'Columbus, OH')

      +role('Bachelor of Science, Computer &amp; Information Science', '2002')
        ul
          li Graduated Cum Laude with Honors in the Liberal Arts, 3.640 GPA
